<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <p>{{todayString | date}}</p>
        </div>
      </div>     
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row" >
    <div class=" col-xl-12 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row" style="justify-content: space-around;">
            <div class=" col-auto">
              <div
                class=" icon icon-shape icon-xl bg-info text-white rounded-circle shadow"
              >
                <h1 style="color:white;">5</h1>
              </div>
              <p style="text-align:center;">events</p>
              <h6 style="color:blue;">in next 180 days</h6>
            </div>

            <div class=" col-auto">
              <div
                class=" icon icon-shape icon-xl bg-info text-white rounded-circle shadow"
              >
                <h1 style="color:white;">27</h1>
              </div>
              <p style="text-align:center;">booked</p>
              <h6 style="color:blue;">in past 365 days</h6>
            </div>

            <div class=" col-auto">
              <div
                class=" icon icon-shape icon-xl bg-info text-white rounded-circle shadow"
              >
                <h1 style="color:white;">19</h1>
              </div>
              <p style="text-align:center;">active</p>
            </div>

            <div class=" col-auto">
              <div
                class=" icon icon-shape icon-xl bg-info text-white rounded-circle shadow"
              >
                <h1 style="color:white;">44</h1>
              </div>
              <p style="text-align:center;">archived</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-xl-12">
      <div class=" card">
        <div class=" card-header">
          <div class="row">
            <div class="col-md-6"><h5 class=" h3 mb-0">Events Timeline</h5></div>
          </div>
        </div>
        
        <div class=" card-body">
          <div class="chart" id="chartdiv">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-8">
      <div class=" card card-calendar">
        <div class=" card-header"><h5 class=" h3 mb-0">Schedule Task</h5></div>

        <div class=" card-body p-0">
          <div class=" calendar" data-toggle="calendar" id="calendar"></div>
        </div>
      </div>

      <div
        aria-hidden="true"
        aria-labelledby="new-event-label"
        class=" modal fade"
        id="new-event"
        role="dialog"
        tabindex="-1"
      >
        <div
          class=" modal-dialog modal-dialog-centered modal-secondary"
          role="document"
        >
          <ng-template #modalAdd>
            <div class=" modal-body">
              <form class=" new-event--form">
                <div class=" form-group">
                  <label class=" form-control-label"> Task title </label>

                  <input
                    class=" form-control form-control-alternative new-event--title"
                    id="new-event--title"
                    placeholder="Title"
                    type="text"
                    (change)="getNewEventTitle($event)"
                  />
                </div>
                <div class="form-group">
                  <label class=" form-control-label"> Type </label>
                  <select class=" form-control mb-2" id="exampleFormControlSelect3">
                    <option> - </option>         
                    <option> Highlights </option>
                    <option> Scam & Alerts </option>
                    <option> Event & Promotion </option>
                  </select>
                </div>
                <div class=" form-group mb-0">
                  <label class=" form-control-label d-block mb-3">
                    Status color
                  </label>

                  <div
                    class=" btn-group btn-group-toggle btn-group-colors event-tag"
                    data-toggle="buttons"
                  >
                    <label
                      class=" btn bg-info"
                      [ngClass]="{ active: radios === 'bg-info' }"
                    >
                      <input
                        autocomplete="off"
                        checked="checked"
                        name="event-tag"
                        type="radio"
                        value="bg-info"
                        (click)="radios = 'bg-info'"
                      />H
                    </label>
                    <label
                      class=" btn bg-warning"
                      [ngClass]="{ active: radios === 'bg-warning' }"
                    >

                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-warning"
                        (click)="radios = 'bg-warning'"
                      />S
                    </label>

                    <label
                      class=" btn bg-danger"
                      [ngClass]="{ active: radios === 'bg-danger' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-danger"
                        (click)="radios = 'bg-danger'"
                      />E
                    </label>
                  </div>
                </div>

                <input class=" new-event--start" type="hidden" />

                <input class=" new-event--end" type="hidden" />
              </form>
            </div>

            <div class=" modal-footer">
              <button
                class=" btn btn-primary new-event--add"
                type="submit"
                (click)="addNewEvent()"
              >
                Add task
              </button>

              <button
                (click)="addModal.hide()"
                class=" btn btn-link ml-auto"
                data-dismiss="modal"
                type="button"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <div
        aria-hidden="true"
        aria-labelledby="edit-event-label"
        class=" modal fade"
        id="edit-event"
        role="dialog"
        tabindex="-1"
      >
        <div
          class=" modal-dialog modal-dialog-centered modal-secondary"
          role="document"
        >
          <ng-template #modalEdit>
            <div class=" modal-body">
              <form class=" edit-event--form">
                <div class=" form-group">
                  <label class=" form-control-label"> Task title </label>

                  <input
                    class=" form-control form-control-alternative edit-event--title"
                    placeholder="Event Title"
                    type="text"
                    value="{{ eventTitle }}"
                    (change)="getNewEventTitle($event)"
                  />
                </div>

                <div class=" form-group">
                  <label class=" form-control-label d-block mb-3">
                    Status color
                  </label>

                  <div
                    class=" btn-group btn-group-toggle btn-group-colors event-tag mb-0"
                    data-toggle="buttons"
                  >
                    <label
                      class=" btn bg-info"
                      [ngClass]="{ active: radios === 'bg-info' }"
                    >
                      <input
                        autocomplete="off"
                        checked="checked"
                        name="event-tag"
                        type="radio"
                        value="bg-info"
                        (click)="radios = 'bg-info'"
                      />
                    </label>

                    <label
                      class=" btn bg-warning"
                      [ngClass]="{ active: radios === 'bg-warning' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-warning"
                        (click)="radios = 'bg-warning'"
                      />
                    </label>

                    <label
                      class=" btn bg-danger"
                      [ngClass]="{ active: radios === 'bg-danger' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-danger"
                        (click)="radios = 'bg-danger'"
                      />
                    </label>

                    <label
                      class=" btn bg-success"
                      [ngClass]="{ active: radios === 'bg-success' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-success"
                        (click)="radios = 'bg-success'"
                      />
                    </label>

                    <label
                      class=" btn bg-default"
                      [ngClass]="{ active: radios === 'bg-default' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-default"
                        (click)="radios = 'bg-default'"
                      />
                    </label>

                    <label
                      class=" btn bg-primary"
                      [ngClass]="{ active: radios === 'bg-primary' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-primary"
                        (click)="radios = 'bg-primary'"
                      />
                    </label>
                  </div>
                </div>

                <div class=" form-group">
                  <label class=" form-control-label"> Description </label>

                  <textarea
                    class=" form-control form-control-alternative edit-event--description textarea-autosize"
                    placeholder="Event Desctiption"
                    value="{{ eventDescription }}"
                    (change)="getNewEventDescription($event)"
                  ></textarea>

                  <i class=" form-group--bar"> </i>
                </div>

                <input class=" edit-event--id" type="hidden" />
              </form>
            </div>

            <div class=" modal-footer">
              <button
                class=" btn btn-primary"
                data-calendar="update"
                (click)="updateEvent()"
              >
                Update
              </button>

              <button
                class=" btn btn-danger"
                data-calendar="delete"
                (click)="deleteEventSweetAlert()"
              >
                Delete
              </button>

              <button
                class=" btn btn-link ml-auto"
                data-dismiss="modal"
                (click)="editModal.hide()"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class=" col-4">
      <div class=" card">
        <div class=" card-header"><h5 class=" h3 mb-0">Todays Task</h5></div>

        <div class=" card-body p-0">
          <ul class=" list-group list-group-flush" data-toggle="checklist">
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-success">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Task 1</h5>

                  <small>27 Jun 10:30 AM </small>
                </div>

                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-success"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />

                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-warning">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Task 2</h5>

                  <small>20 Jun 10:30 AM </small>
                </div>

                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-warning"
                  >
                    <input
                      class=" custom-control-input"
                      id="chk-todo-task-2"
                      type="checkbox"
                    />

                    <label class=" custom-control-label" for="chk-todo-task-2">
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-info">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Task 3</h5>

                  <small>22 Julai 10:30 AM </small>
                </div>

                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-info"
                  >
                    <input
                      class=" custom-control-input"
                      id="chk-todo-task-3"
                      type="checkbox"
                    />

                    <label class=" custom-control-label" for="chk-todo-task-3">
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-danger">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Task 4</h5>

                  <small>1 Ogos 10:30 AM </small>
                </div>

                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-danger"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-4"
                      type="checkbox"
                    />

                    <label class=" custom-control-label" for="chk-todo-task-4">
                    </label>
                  </div>
                </div>
              </div>
            </li>           
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



